<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="81b0a2">  <td>18/10/18 16:16:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostAPITest.getAPITestForKonnectionsVerifyTermsAndConditions()[pri:2, instance:com.qa.tests.PostAPITest@77cd7a0]">getAPITestForKonnectionsVerifyTermsAndConditions</td> 
  <td>main@1401132667</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/10/18 16:16:59</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PostAPITest.setUp()[pri:0, instance:com.qa.tests.PostAPITest@77cd7a0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1401132667</td>   <td></td> </tr>
</table>
